<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fonts/material-icons/index.css">
    <link rel="stylesheet" href="/css/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/fonts/roboto/index.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Error</title>
</head>
<div class="mdl-layout">
<body>
    <h1 class="errorMSG">Virhe</h1>
    <p>
        <%= virhe %>
    </p>
    <a href="/back">Palaa alkuun</a>
</body>
</div>
</html>