h1, h2 {
    font-size: 20pt;
    margin: 0;
}
h2 {
    font-size: 14pt;
}
.mdl-layout {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px; 
    text-align: center;
}
.mdl-button {
    margin-bottom: 20px;
    border-radius: 5px;
}
.mdl-textfield {
    width: 92%;  
      
}
.errorMSG h1 {
    color: crimson;
}
.mdl-data-table__cell--non-numeric{
    text-align: center;
}
.mdl-data-table thead, .mdl-data-table tbody, .mdl-data-table th, .mdl-data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.mdl-textfield__input {
    border: solid 1px lightgrey;
    border-radius: 5px;
    padding: 15px;   
}
.mdl-textfield__label {
    color : #999;
    top: -5px;
}